.highcharts-credits {
    display: none;
}

.highcharts-container {
  overflow: visible !important;  
}

.highcharts-xaxis-labels {
  overflow: visible !important;
  clip: auto !important;  /* Prevents Highcharts from cutting off labels */
}

.highcharts-axis-labels span {
  overflow: visible !important;
  position: relative;
  z-index: 9999 !important;  /* Ensures labels stay above the chart */
}