.highcharts-credits {
    display: none;
}
/* 
table>tbody>tr>td:nth-child(1) {
    position: fixed !important;
    width: 200px !important;
    background-color: white;
    z-index: 1;
}


table>tbody>tr {
    position: relative;
} */